<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/Header.ejs') %>
<body id = "Homebody">
  <div class="wrapper">
    <header>
      <h1 id="BigTempora">Loading</h1> 
      <h3 id="MedTempora"></h3>
  
       </header>
    <main class="flex-fill">
      <p id="ComingSoon"> Coming Soon ... </p>
    </main>

    <%- include('./partials/Footer.ejs') %>
  </div>
</body>
</html>
